---
import MainLayout from "../../../layouts/MainLayout.astro";
import FooterSection from "../../../sections/FooterSection.astro";
import SelectDepartament from "../../../components/SelectDepartament.astro";
import logo from "../../../assets/logo.svg";
import UrbanizacionesSection from '../../../sections/UrbanizacionesSection.astro';
import NavbarComponent from "../../../components/NavbarComponentPage.vue";
import SelectDepartamentTramite from "../../../components/SelectDepartamentTramite.astro";
import lapazbg from "../../../assets/imgs/lapazbg.jpg";
import cochabambabg from "../../../assets/imgs/cochabambabg.jpg";
import santacruzbg from "../../../assets/imgs/santacruzbg.jpg";
import TramitesSection from "../../../sections/TramitesSection.astro";
import vidlapaz from "../../../assets/videos/vidlapaz.webm";
import vidcochabamba from "../../../assets/videos/vidcochabamba.webm";
import vidsantacruz from "../../../assets/videos/vidsantacruz.webm";

let departamentos: any[] = [];

try {
  const res = await fetch("https://canaan-inmobiliaria-admin.up.railway.app/api/departamentos/");
  if (res.ok) {
    departamentos = await res.json();
  } else {
    console.error("Error al obtener departamentos");
  }
} catch (err) {
  console.error("Error:", err);
}

export function getStaticPaths() {
  return [
    { params: { title: 'lapaz',category:''} },
    { params: { title: 'cochabamba',category:''} },
    { params: { title: 'santacruz',category:''} },
  ];
}

const { title, category } = Astro.params;

function slugify(text: string) {
  return text
    ?.toLowerCase()
    .normalize('NFD')
    .replace(/[\u0300-\u036f]/g, '')
    .replace(/\s+/g, '')
    .replace(/[^a-z0-9]/g, '');
}

const departamentoActual = departamentos.find(
  (dep) => slugify(dep.nombre) === title
);


---

<MainLayout>
  <NavbarComponent client:load/>
  
  <section id="servicios"
    class=" flex  bg-slate-900 flex-col w-full justify-center py-2 px-3 md:px-4 border-b-2 border-slate-400/10 items-center overflow-hidden"
  >
    
    <div
      class=" w-full flex max-w-8xl justify-between items-center   "
    >
      <h1
        class="font-bold flex flex-col  md:flex-row w-full justify-start items-start lg:items-center md:gap-1"
      >
        <span class="block text-2xs lg:text-xs text-slate-100 px-2 py-1 bg-slate-800 rounded-full sm:mt-1 lg:ml-10">Trámites</span>
        <span class="block text-xl text-amber-400 px-2">Disponibles</span>
      </h1>
      <div class="w-[40vh] z-20">
        <SelectDepartamentTramite departamentos={departamentos} active={true} />
      </div>
      
        
    </div>
  </section>
  <div class="relative z-10 pt-10 flex w-full justify-center items-center flex-col text-center mb-6 sm:mb-16 lg:mb-20">
      <h2 class="text-3xl sm:text-4xl lg:text-5xl xl:text-6xl font-bold max-w-3xl text-slate-800 mb-4 sm:mb-6 tracking-tight">
        REALIZA TU TRÁMITE DIRECTO EN <strong class="text-amber-400">{title=="lapaz"?"LA PAZ":title=="cochabamba"?"COCHABAMBA":"SANTA CRUZ"}</strong>
      </h2>
      <p class="text-lg sm:text-xl text-gray-600 max-w-3xl mx-auto px-4">
        Evita complicaciones y realiza tus trámites legales <strong>con nuestro equipo en {title=="lapaz"?"La Paz":title=="cochabamba"?"Cochabamba":"Santa Cruz"}</strong>.
        Regularizamos con rapidez y respaldo profesional. 
      </p>
  </div>
  <div class="flex w-full border border-gray-300 justify-between items-center mb-10 px-4 py-1 rounded-full max-w-6xl mx-auto">
    <p class="text-sm text-red-400 font-semibold">Debes iniciar sesión para solicitar tu nuevo trámite</p>
    <h1 class="text-sm font-bold text-slate-700">10 Tipos de Trámites</h1>
  </div>
  <TramitesSection tramites={departamentoActual.tramites}/>

  <FooterSection />
</MainLayout>
