---
import MainLayout from "../../../layouts/MainLayout.astro";
import FooterSection from "../../../sections/FooterSection.astro";
import NavbarComponent from "../../../components/NavbarComponentPage.vue";
import SelectDepartamentTramite from "../../../components/SelectDepartamentTramite.astro";
import TramitesSection from "../../../sections/TramitesSection.vue";


let departamentos: any[] = [];

try {
  const res = await fetch("https://canaan-inmobiliaria-admin.up.railway.app/api/departamentos/");
  if (res.ok) {
    departamentos = await res.json();
  } else {
    console.error("Error al obtener departamentos");
  }
} catch (err) {
  console.error("Error:", err);
}

export function getStaticPaths() {
  return [
    { params: { title: 'lapaz',category:''} },
    { params: { title: 'cochabamba',category:''} },
    { params: { title: 'santacruz',category:''} },
  ];
}

const { title, category } = Astro.params;

function slugify(text: string) {
  return text
    ?.toLowerCase()
    .normalize('NFD')
    .replace(/[\u0300-\u036f]/g, '')
    .replace(/\s+/g, '')
    .replace(/[^a-z0-9]/g, '');
}

const departamentoActual = departamentos.find(
  (dep) => slugify(dep.nombre) === title
);

---

<MainLayout>
  <NavbarComponent client:load/>
  
  <section id="servicios"
    class=" flex  bg-slate-900 flex-col w-full justify-center py-2 px-3 md:px-4 border-b-2 border-slate-400/10 items-center overflow-hidden"
  >
    
    <div
      class=" w-full flex max-w-8xl justify-between items-center   "
    >
      <h1
        class="font-bold flex flex-col  md:flex-row w-full justify-start items-start lg:items-center md:gap-1"
      >
        <span class="block text-2xs lg:text-xs text-slate-100 px-2 py-1 bg-slate-800 rounded-full sm:mt-1 lg:ml-10">Trámites</span>
        <span class="block text-xl text-amber-400 px-2">Disponibles</span>
      </h1>
      <div class="w-[40vh] z-20">
        <SelectDepartamentTramite departamentos={departamentos} active={true} />
      </div>
      
        
    </div>
  </section>
  <div class="relative z-10 pt-10 flex w-full justify-center items-center flex-col text-center mb-6 sm:mb-16 lg:mb-20">
      <h2 class="text-3xl sm:text-4xl lg:text-5xl xl:text-6xl font-bold max-w-3xl text-slate-800 mb-4 sm:mb-6 tracking-tight">
        REALIZA TU TRÁMITE DIRECTO EN <strong class="text-amber-400">{title=="lapaz"?"LA PAZ":title=="cochabamba"?"COCHABAMBA":"SANTA CRUZ"}</strong>
      </h2>
      <p class="text-lg sm:text-xl text-gray-600 max-w-3xl mx-auto px-4">
        Evita complicaciones y realiza tus trámites legales <strong>con nuestro equipo en {title=="lapaz"?"La Paz":title=="cochabamba"?"Cochabamba":"Santa Cruz"}</strong>.
        Regularizamos con rapidez y respaldo profesional. 
      </p>
      <p class="text-sm mt-4 text-red-400 font-semibold">Debes iniciar sesión para solicitar tu nuevo trámite</p>

  </div>
  <div class="flex w-full border border-gray-300 justify-between items-center mb-10 px-4 py-1 rounded-full max-w-4xl mx-auto">
    <button class="flex gap-1 text-slate-800 bg-white rounded-full justify-center items-center  py-1 px-2 text-sm font-semibold cursor-pointer hover:text-slate-900 hover:bg-slate-100">
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 48 48"><path fill="#ffc107" d="M43.611 20.083H42V20H24v8h11.303c-1.649 4.657-6.08 8-11.303 8c-6.627 0-12-5.373-12-12s5.373-12 12-12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C12.955 4 4 12.955 4 24s8.955 20 20 20s20-8.955 20-20c0-1.341-.138-2.65-.389-3.917"/><path fill="#ff3d00" d="m6.306 14.691l6.571 4.819C14.655 15.108 18.961 12 24 12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C16.318 4 9.656 8.337 6.306 14.691"/><path fill="#4caf50" d="M24 44c5.166 0 9.86-1.977 13.409-5.192l-6.19-5.238A11.9 11.9 0 0 1 24 36c-5.202 0-9.619-3.317-11.283-7.946l-6.522 5.025C9.505 39.556 16.227 44 24 44"/><path fill="#1976d2" d="M43.611 20.083H42V20H24v8h11.303a12.04 12.04 0 0 1-4.087 5.571l.003-.002l6.19 5.238C36.971 39.205 44 34 44 24c0-1.341-.138-2.65-.389-3.917"/></svg>
                  <span class="flex">Ingresar</span> 
                </button>
    <h1 class="text-sm font-bold text-slate-700">Disponibles: {departamentoActual.tramites.length}</h1>
  </div>
  <TramitesSection client:load title={title} />
  <FooterSection />
</MainLayout>
