---
import MainLayout from "../../layouts/MainLayout.astro";
import FooterSection from "../../sections/FooterSection.astro";
import SelectDepartament from "../../components/SelectDepartament.astro";
import logo from "../../assets/logo.svg";
import UrbanizacionesSection from '../../sections/UrbanizacionesSection.astro';

import vidlapaz from "../../assets/imgs/lapazbg.jpg";
---
<MainLayout>
  
  <section id="servicios"
    class="relative flex flex-col w-full justify-center py-10 px-4 items-center overflow-hidden"
  >

        <video
          autoplay
          muted
          loop
          playsinline
          class="absolute inset-0 w-full h-screen object-cover"
          poster={vidlapaz.src}
        >
          <source src="https://bucket.fabcode.dev/vidlapaz.webm" type="video/webm" />
          Tu navegador no soporta video en HTML5.
        </video>
       
    

    <div class="absolute inset-0 bg-slate-950"></div>

    <div
      class="relative z-10 w-full flex flex-col items-center pb-10 pt-5 md:pb-20 md:pt-10"
    >
      <h1
        class="font-bold flex flex-col md:flex-row w-full justify-center items-center text-center gap-2"
      >
        <span class="block text-4xl lg:text-6xl text-slate-100"
          >Urbanizaciones</span
        >
        <span class="block text-4xl lg:text-6xl text-amber-400"
          >Disponibles</span
        >
      </h1>
      <h1 class="text-white/30 font-bold text-5xl mt-5">La Paz</h1>
    
    </div>
  </section>
  <UrbanizacionesSection/>

  <FooterSection />
</MainLayout>