---
import "leaflet/dist/leaflet.css";
---

<div id="map" class="z-20" style="height: 200px; width: 100%;"></div>
<a
    href="https://www.openstreetmap.org/?mlat=-16.5&mlon=-68.15#map=13/-16.5000/-68.1500"
    target="_blank"
    rel="noopener noreferrer"
    class="text-white hover:text-amber-500"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"  viewBox="0 0 24 24"><path fill="currentColor" d="M5.536 21.886a1 1 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886"/></svg>
  </a>
<script>
  import L from "leaflet";

  document.addEventListener("DOMContentLoaded", () => {
    const map = L.map("map").setView([-16.5, -68.15], 13);

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution: "© Inmobiliaria Canaan"
    }).addTo(map);

    L.marker([-16.5, -68.15])
      .addTo(map)
      .bindPopup("<b>Inmobiliaria</b><br>Canaán")
      .openPopup();
  });
</script>
