---
import { Image } from "astro:assets";
import logoCanaanWhite from "../assets/logo_white.svg";
---
<footer class="bg-slate-800 text-white py-12 sm:py-16">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="flex gap-4 flex-col lg:flex-row justify-between items-start">
				<div class="col-span-1 sm:col-span-2 lg:col-span-2">
					<div class="flex items-center space-x-3 mb-4 sm:mb-6">
						<Image src={logoCanaanWhite} alt="Canaan Inmobiliaria" 
							class="w-20 "/>
					</div>
					<p
						class="text-gray-300 mb-4 sm:mb-6 max-w-md text-sm sm:text-base"
					>
						TE AYUDAMOS A <strong class="text-amber-500">CONSTRUIR TU FUTURO</strong>
					</p>
					<div class="flex space-x-3 sm:space-x-4">
						<div
							class="w-8 h-8 sm:w-10 sm:h-10 bg-amber-500 text-slate-800 hover:text-slate-950 cursor-pointer rounded-full flex items-center justify-center"
						>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"  viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path stroke-dasharray="24" stroke-dashoffset="24" d="M17 4l-2 0c-2.5 0 -4 1.5 -4 4v12"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="24;0"/></path><path stroke-dasharray="8" stroke-dashoffset="8" d="M8 12h7"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.2s" values="8;0"/></path></g></svg>
						</div>
						<div
							class="w-8 h-8 sm:w-10 sm:h-10 bg-amber-500  text-slate-800 hover:text-slate-950 cursor-pointer rounded-full flex items-center justify-center"
						>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16.6 5.82s.51.5 0 0A4.28 4.28 0 0 1 15.54 3h-3.09v12.4a2.59 2.59 0 0 1-2.59 2.5c-1.42 0-2.6-1.16-2.6-2.6c0-1.72 1.66-3.01 3.37-2.48V9.66c-3.45-.46-6.47 2.22-6.47 5.64c0 3.33 2.76 5.7 5.69 5.7c3.14 0 5.69-2.55 5.69-5.7V9.01a7.35 7.35 0 0 0 4.3 1.38V7.3s-1.88.09-3.24-1.48"/></svg>
						</div>
						<div
							class="w-8 h-8 sm:w-10 sm:h-10 bg-amber-500  text-slate-800 hover:text-slate-950 cursor-pointer rounded-full flex items-center justify-center"
						>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="4" cy="4" r="2" fill="currentColor" fill-opacity="0"><animate fill="freeze" attributeName="fill-opacity" dur="0.15s" values="0;1"/></circle><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path stroke-dasharray="12" stroke-dashoffset="12" d="M4 10v10"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.15s" dur="0.2s" values="12;0"/></path><path stroke-dasharray="12" stroke-dashoffset="12" d="M10 10v10"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.45s" dur="0.2s" values="12;0"/></path><path stroke-dasharray="24" stroke-dashoffset="24" d="M10 15c0 -2.76 2.24 -5 5 -5c2.76 0 5 2.24 5 5v5"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.65s" dur="0.2s" values="24;0"/></path></g></svg>
						</div>
						<div
							class="w-8 h-8 sm:w-10 sm:h-10 bg-amber-500  text-slate-800 hover:text-slate-950 cursor-pointer rounded-full flex items-center justify-center"
						>
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><g fill="none"><g clip-path="url(#SVGG1Ot4cAD)"><path fill="currentColor" d="M11.025.656h2.147L8.482 6.03L14 13.344H9.68L6.294 8.909l-3.87 4.435H.275l5.016-5.75L0 .657h4.43L7.486 4.71zm-.755 11.4h1.19L3.78 1.877H2.504z"/></g><defs><clipPath id="SVGG1Ot4cAD"><path fill="#fff" d="M0 0h14v14H0z"/></clipPath></defs></g></svg>
						</div>
						<div
							class="w-8 h-8 sm:w-10 sm:h-10 bg-amber-500  text-slate-800 hover:text-slate-950 cursor-pointer rounded-full flex items-center justify-center"
						>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="17" cy="7" r="1.5" fill="currentColor" fill-opacity="0"><animate fill="freeze" attributeName="fill-opacity" begin="1.3s" dur="0.15s" values="0;1"/></circle><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="72" stroke-dashoffset="72" d="M16 3c2.76 0 5 2.24 5 5v8c0 2.76 -2.24 5 -5 5h-8c-2.76 0 -5 -2.24 -5 -5v-8c0 -2.76 2.24 -5 5 -5h4Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="72;0"/></path><path stroke-dasharray="28" stroke-dashoffset="28" d="M12 8c2.21 0 4 1.79 4 4c0 2.21 -1.79 4 -4 4c-2.21 0 -4 -1.79 -4 -4c0 -2.21 1.79 -4 4 -4"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.7s" dur="0.6s" values="28;0"/></path></g></svg>
						</div>
					</div>
				</div>

				<div >
					<h3
						class="text-lg   sm:text-xl font-bold mb-4 sm:mb-6 text-amber-400"
					>
						Servicios
					</h3>
					<ul
						class="space-y-2 sm:space-y-3  max-w-xs text-gray-300 text-sm sm:text-base"
					>
						<li>
							<a
								href="#servicios"
								class="hover:text-amber-400 transition-colors"
							>
								Venta de Lotes
							</a>
						</li>
						<li>
							<a
								href="#servicios"
								class="hover:text-amber-400 transition-colors"
							>
								Consultoría
							</a>
						</li>
						<li>
							<a
								href="#servicios"
								class="hover:text-amber-400 transition-colors"
							>
								Importaciones
							</a>
						</li>
						<li>
							<a
								href="#servicios"
								class="hover:text-amber-400 transition-colors"
							>
								Red CORS
							</a>
						</li>
					</ul>
				</div>

				<div>
					<h3
						class="text-lg sm:text-xl font-bold mb-4 sm:mb-6 text-amber-400"
					>
						Contacto
					</h3>
					<div
						class="space-y-2 sm:space-y-3 text-gray-300 text-sm sm:text-base"
					>
						<div class="flex items-center space-x-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="text-green-500" viewBox="0 0 24 24"><path fill="currentColor" d="M19.05 4.91A9.82 9.82 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01m-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.26 8.26 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.18 8.18 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23m4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07s.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28"/></svg>
							<span>+59170516064 - +59173746955</span>
						</div>
						<div class="flex items-center space-x-3">
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="text-amber-500" viewBox="0 0 24 24"><g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"><path d="M16.272 10.272a4 4 0 1 1-8 0a4 4 0 0 1 8 0m-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0"/><path d="M5.794 16.518a9 9 0 1 1 12.724-.312l-6.206 6.518zm11.276-1.691l-4.827 5.07l-5.07-4.827a7 7 0 1 1 9.897-.243"/></g></svg>
							<span>Camino Laja, Cruce Sante Fe #2864</span>
						</div>
						
					</div>
				</div>
			</div>

			<div
				class="border-t border-gray-700 mt-8 sm:mt-12 pt-6 sm:pt-8 text-center"
			>
				<p class="text-gray-400 text-sm sm:text-base">
					© 2025 Canaan Inmobiliaria. Todos los derechos reservados.
				</p>
			</div>
		</div>
	</footer>