---
import CardComponent from "../components/CardComponent.astro";

const { title } = Astro.params;
const { urbanizaciones = [] }: { urbanizaciones?: Urbanizacion[] } = Astro.props;

interface Urbanizacion {
  id_urbanizacion: string;
  nombre: string;
  descripcion: string;
  portada_url: string;
  direccion?: string;
  total_lotes?: number;
  total_manzanas?: number;
  area_total?: number;
  fecha_registro?: string;
  fecha_actualizacion?: string;
  vertices?: any[];
  lotes?: any[];
}
---
<section id="servicios" class="relative w-full flex flex-col justify-center pt-10 px-4 pb-14 overflow-hidden bg-slate-100">
  <div class="flex flex-col lg:flex-row w-full max-w-6xl justify-center mx-auto gap-10 items-center pb-10">
    {urbanizaciones.length > 0 ? (
      urbanizaciones.map((urb: Urbanizacion) => (
        <CardComponent 
          img={urb.portada_url} 
          ciudad={title} 
          titleUrbanizacion={urb.nombre} 
          descripcion={urb.descripcion} 
        />
      ))
    ) : (
      <h1 class="py-8 text-xl text-slate-400 font-semibold flex w-full max-w-xl justify-center items-center text-center">Por el momento no contamos con urbanizaciones para este departamento.</h1>
    )}
  </div>
</section>
