---
import CardViviendaComponent from "../components/CardViviendaComponent.astro";

const { title } = Astro.params;
const { viviendas = [] }: { viviendas?: Vivienda[] } = Astro.props;

interface TipoVivienda {
  id_tipo: string;
  nombre: string;
  descripcion?: string;
  fecha_registro?: string;
  fecha_actualizacion?: string;
}

interface Vivienda {
  id_vivienda: string;
  nombre: string;
  descripcion: string;
  portada_url: string;
  estado?: string;
  precio: string;
  permite_financiamiento?: boolean;
  tipo: TipoVivienda;
  comprador?: any;
  galeria?: any[];
  fecha_registro?: string;
  fecha_actualizacion?: string;
}
---

<section id="viviendas" class="relative w-full flex flex-col justify-center pt-10 px-4 pb-14 overflow-hidden bg-slate-100">
  <div class="flex flex-col lg:flex-row w-full max-w-6xl justify-center mx-auto gap-10 items-center pb-10">
    {viviendas.length > 0 ? (
      viviendas.map((vivienda: Vivienda) => (
        <CardViviendaComponent
          img={vivienda.portada_url}
          tipo={vivienda.tipo.nombre}
          precio={`Bs ${Number(vivienda.precio).toLocaleString()}`}
          descripcion={vivienda.descripcion}
        />
      ))
    ) : (
      <h1 class="py-8 text-xl text-slate-400 font-semibold flex w-full max-w-xl justify-center items-center text-center">
        Por el momento no contamos con viviendas para este departamento.
      </h1>
    )}
  </div>
</section>
